---
layout: default
permalink: /
---

	<div id="main">
			
		<div class="container">
			
			<!-- Review -->
			{% include review.html %}
			<!-- End Review -->

			<!-- Text-Gallery -->
			{% include text-gallery.html %}
			<!-- End Text-Gallery -->
		</div>

		<!-- Test -->
		{% include slider.html %}
		<!-- End Test -->

		<!-- Features -->
		{% include features.html %}
		<!-- End Features -->
		
		<!-- Contact-Form -->
		{% include contact-form.html %}		
		<!-- End Contact-Form -->

		<!-- Footer -->
		{% include footer.html %}
		<!-- End Footer -->
	</div>
