<div class="row fh5co-feature">
	<div class="col-md-6 col-md-push-6">
		<div class="fh5co-copy">
			<div class="fh5co-copy-inner">
				<h2>Keep It Simple</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-md-pull-6">
		<div class="fh5co-img text-right">
			<figure class="fh5co-figure animate-box">
				<img class="img-2" src="/images/book_white.png" alt="Free Website Template by FreeHTML5.co">	
			</figure>
		</div>
	</div>
</div>
<!-- END feature -->

<div class="row fh5co-feature fh5co-reverse">
	<div class="col-md-6">
		<div class="fh5co-copy">
			<div class="fh5co-copy-inner">
				<h2>Pixel Perfect</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="fh5co-img text-left">
			<figure class="fh5co-figure animate-box">
				<img class="img-2" src="/images/book_black.png" alt="Free Website Template by FreeHTML5.co">	
			</figure>
		</div>
	</div>
</div>
<!-- END feature -->

<div class="row fh5co-feature last-feature">
	<div class="col-md-6 col-md-push-6">
		<div class="fh5co-copy">
			<div class="fh5co-copy-inner">
				<h2>Beautiful Design</h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-md-pull-6">
		<div class="fh5co-img text-right">
			<figure class="fh5co-figure animate-box">
				<img class="img-2" src="/images/book_white.png" alt="Free Website Template by FreeHTML5.co">	
			</figure>
		</div>
	</div>
</div>